.App {
    overflow:hidden;
    color: rgb(86, 99, 125) ;
    background-color: rgb(231, 245, 245);
    padding: 1rem 1rem;
}
.blur{
  position:absolute ;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background-color: rgb(179, 186, 209);
  filter: blur(72px);
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(to right, rgb(249, 117, 105),rgb(251, 147, 3));
  background: -webkit-linear-gradient(to right, rgb(249, 117, 105),rgb(251, 147, 3));
  background: -o-linear-gradient(to right, rgb(249, 117, 105),rgb(251, 147, 3));
  background: -moz-linear-gradient(to right, rgb(249, 117, 105),rgb(251, 147, 3));

}
.button:hover{
  cursor: pointer;
  color: orangered;
  background: transparent;
  border: 2px solid orangered;
}
.button:disabled{
  cursor: not-allowed;
  background:gray;
  color: white;
}
::-webkit-scrollbar{
  display: none;
}
.button1{
  cursor: pointer;
  color: orangered;
  background: transparent;
  border: 2px solid orangered;
  height: 2rem;
    padding-left:20px ;
    padding-right: 20px;
}